
<html lang="en">
{% load static %}


    <head>
        <meta charset="utf-8">
        <title>Deitaling Stydio</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

        <!-- CSS Libraries (внешние ресурсы оставляем как есть) -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- Локальные CSS файлы (используем static) -->
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="index.html">
                                <h1>Авто<span>Люкс</span></h1>
                                    <img src="https://via.placeholder.com/120x60?text=LOGO" alt="Временный логотип">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Рабочие часы</h3>
                                        <p>По записи</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="fa fa-phone-alt"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Наш номер</h3>
                                        <p>+799999999</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Наш Емейл</h3>
                                        <p>info@example.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">Меню</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link active">Главная страница</a>
                            <a href="about.html" class="nav-item nav-link">О нас</a>
                            <a href="service.html" class="nav-item nav-link">Наша работа</a>
                            <a href="price.html" class="nav-item nav-link">Прайс</a>
                            <a href="location.html" class="nav-item nav-link">Адрес</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Разное</a>
                                <div class="dropdown-menu">
                                    <a href="blog.html" class="dropdown-item">Наш Блог</a>
                                    <a href="single.html" class="dropdown-item">Detail Page</a>
                                    <a href="team.html" class="dropdown-item">Наша команда</a>
                                    <a href="booking.html" class="dropdown-item">Schedule Booking</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="ml-auto">
                            <a class="btn btn-custom" href="#">Get Appointment</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-1.jpg' %}" alt="Carousel 1">
                        </div>
                        <div class="carousel-text">
                            <h3>Дейтелинг и покраска </h3>
                            <h1>Ваш авто как новый</h1>
                            <p>
                                Опытные сотрудники
                            </p>
                            <a class="btn btn-custom" href="">узнать больше</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-2.jpg' %}" alt="Carousel 2">
                        </div>
                        <div class="carousel-text">
                            <h3>Мойка и Дейтелинг</h3>
                            <h1>Качество на первом месте</h1>
                            <p>
                               Что то тут писать надо
                            </p>
                            <a class="btn btn-custom" href="">Explore More</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-3.jpg' %}" alt="Carousel 3">
                        </div>
                        <div class="carousel-text">
                            <h3>мойка и Дейтелинг</h3>
                            <h1>чистота и порядок</h1>
                            <p>
                                уборочка на 5+
                            </p>
                            <a class="btn btn-custom" href="">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'img/about.jpg' %}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>О нас</p>
                            <h2>Дейтелинг студия на разванской</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                Опытный и профессиональный коллектив, который предоставляет услуги по уходу за автомобиля
                            </p>
                            <ul>
                                <li><i class="far fa-check-circle"></i>Полный спектр Дейтелинг услуг</li>
                                <li><i class="far fa-check-circle"></i>Химчистка салона</li>
                                <li><i class="far fa-check-circle"></i>Химчистка кузова</li>
                                <li><i class="far fa-check-circle"></i>Покраска авто</li>
                            </ul>
                            <a class="btn btn-custom" href="">узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>Почему мы?</p>
                    <h2>Премиальный сервис  большой опыт опытные специалисты</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-car-wash-1"></i>
                            <h3>Мойка Кузова</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-car-wash"></i>
                            <h3>Уборка салона</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-vacuum-cleaner"></i>
                            <h3>Уборка вакумным пылесосом</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-seat"></i>
                            <h3>Чистка сидений</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-car-service"></i>
                            <h3>Пилинг кузова</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-car-service-2"></i>
                            <h3>Нано покрытие</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-car-wash"></i>
                            <h3>полировка фар</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <i class="flaticon-brush-1"></i>
                            <h3>Покраска авто</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        
        

        
        
        <!-- Price Start -->
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <p>Наши Цены</p>
                    <h2>Выберите свой комплекс</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Базовый</h3>
                                <h2><span>от</span><strong>5 000</strong><span>руб</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Мойка сидений</li>
                                    <li><i class="far fa-check-circle"></i>Чистка пылесосом</li>
                                    <li><i class="far fa-check-circle"></i>Внешняя чистка</li>
                                    <li><i class="far fa-times-circle"></i>Влажная уборка салона</li>
                                    <li><i class="far fa-times-circle"></i>Протирание окон</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="">Записаться</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <h3>Премиальный клининг</h3>
                                <h2><span>от</span><strong>10 000</strong><span>руб</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Мойка сидений</li>
                                    <li><i class="far fa-check-circle"></i>Чистка пылесосом</li>
                                    <li><i class="far fa-check-circle"></i>Внешняя чистка</li>
                                    <li><i class="far fa-check-circle"></i>Влажная уборка салона</li>
                                    <li><i class="far fa-times-circle"></i>Протирание окон</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="">Записаться</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Комплексная уборка</h3>
                                <h2><span>от</span><strong>15 000</strong><span>руб</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Мойка сидений</li>
                                    <li><i class="far fa-check-circle"></i>Чистка пылесосом</li>
                                    <li><i class="far fa-check-circle"></i>Внешняя чистка</li>
                                    <li><i class="far fa-check-circle"></i>Влажная уборка салона</li>
                                    <li><i class="far fa-check-circle"></i>Протирание окон</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price End -->
        
        
<!-- Location Start -->
<div class="location">
    <div class="container">
        <div class="row justify-content-center"> <!-- Центрируем строку -->
            <!-- Левая колонка (информация) -->
            <div class="col-lg-5 mb-4 mb-lg-0"> <!-- Уменьшил ширину и добавил отступ -->
                <div class="section-header text-center"> <!-- Центрируем заголовок -->
                    <p>Где мы находимся</p>
                    <h2>EcoLuxe</h2>
                </div>
                <div class="location-item text-center"> <!-- Центрируем блок -->
                    <i class="fa fa-map-marker-alt"></i>
                    <div class="location-text">
                        <h3>Студия Дейтелинга</h3>
                        <p>Резванская 3, Калужская область, Россия</p>
                        <p><strong>Телефон:</strong>+799999999</p>
                    </div>
                </div>
            </div>
            
            <!-- Правая колонка (форма) -->
            <div class="col-lg-5"> <!-- Такая же ширина как у левой -->
                <div class="location-form">
                    <h3 class="text-center">Записаться</h3> <!-- Центрируем заголовок -->
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Имя" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Напишите сюда вашу контактную информацию для обратной связи" required="required"></textarea>
                        </div>
                        <div class="text-center"> <!-- Центрируем кнопку -->
                            <button class="btn btn-custom" type="submit">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location End -->


        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Наша команда</p>
                    <h2>Дейтелеры и Маляры</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                    <img src="{% static 'img/team-1.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Рузанов Юрий</h2>
                                <p>Дейтлер</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-2.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Алексей Кобейкин</h2>
                                <p>Автомаляр</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-3.jpg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Михаил Ручкин</h2>
                                <p>Автомаляр</p>
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
        <!-- Testimonial Start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Отзывы клиентов</p>
                    <h2>Что о нас говорят</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{% static 'img/testimonial-1.jpg' %}" alt="Testimonial Image">
                        <div class="testimonial-text">
                            <h3>Виктор Палыч</h3>
                            <h4>директор</h4>
                            <p>
                                Я в шоке как чисто!
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'img/testimonial-2.jpg' %}" alt="Testimonial Image">
                        <div class="testimonial-text">
                            <h3>Оля Ватрушкина</h3>
                            <h4>автолюбитель</h4>
                            <p>
                                Машина теперь как новая
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'img/testimonial-3.jpg' %}" alt="Testimonial Image">
                        <div class="testimonial-text">
                            <h3>Сергей Ходжаев</h3>
                            <h4>Мастер</h4>
                            <p>
                                Мой Урал блестит как новый
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{% static 'img/testimonial-4.jpg' %}" alt="Testimonial Image">
                        <div class="testimonial-text">
                            <h3>Тимур Незаметдинов</h3>
                            <h4>Рабочий</h4>
                            <p>
                                открасили машину божественно!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    <p>Наши работы</p>
                    <h2>Что мы делали</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/blog-1.jpg' %}" alt="Blog Image">
                                <div class="meta-date">
                                    <span>01</span>
                                    <strong>Jan</strong>
                                    <span>2020</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Уборка старой грязи</a></h3>
                                <p>
                                    Было трудно
                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/blog-2.jpg' %}" alt="Blog Image">
                                <div class="meta-date">
                                    <span>01</span>
                                    <strong>Jan</strong>
                                    <span>2025</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Полировка чего то</a></h3>
                                <p>
                                    юра полировал он знает 
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/blog-3.jpg' %}" alt="Blog Image">
                                <div class="meta-date">
                                    <span>01</span>
                                    <strong>Jan</strong>
                                    <span>2045</span>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h3><a href="#">Грязные сиденья</a></h3>
                                <p>
                                    мишаня потел но убирался

                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="">Admin</a></p>
                                <p><i class="fa fa-folder"></i><a href="">Web Design</a></p>
                                <p><i class="fa fa-comments"></i><a href="">15 Comments</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Резванская 3, Калуга, Россия</p>
                            <p><i class="fa fa-phone-alt"></i>+7999999999</p>
                            <p><i class="fa fa-envelope"></i>info@example.com</p>
                            <div class="footer-social">
                                <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="">About Us</a>
                            <a href="">Contact Us</a>
                            <a href="">Our Service</a>
                            <a href="">Service Points</a>
                            <a href="">Pricing Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <form>
                                <input class="form-control" placeholder="Full Name">
                                <input class="form-control" placeholder="Email">
                                <button class="btn btn-custom">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
<!-- Локальные JS-файлы -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="{% static 'lib/easing/easing.min.js' %}"></script>
            <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
            <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
            <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

            <!-- Contact Javascript File -->
            <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
            <script src="{% static 'mail/contact.js' %}"></script>

            <!-- Template Javascript -->
            <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
